    <%- include("header") -%> 
    <div class="box">
        <h1 id="heading"> <%= kindOfDay %> </h1>
    </div>
     
    <div class="box">
        <% for( let index = 0; index < newListItem.length; index++ ) { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value=<%= newListItem[index]._id %> onChange="this.form.submit()">
                    <p><%= newListItem[index].name %></p> 
                </div>
            </form>
        <% } %>
   

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" autocomplete="off">
            <button type="submit" name="list", value=<%= kindOfDay %>>+</button>
        </form>
    </div>
    <%- include("footer") -%> 